{
    "env": {
        "test": {
            "plugins": [
                "css-modules-transform"
            ],
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}
